.fighter-preview___root {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.fighter-preview___right {
  flex-direction: row-reverse;
}

.fighter-details {
  width: 150px;
}

.info-row {
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
}
